.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.active-list {
    height: 100%;
}

.inactive-list {
    height: 100%;
}

.collapse {
    overflow-y: scroll;
    max-height: 400px;
}

.inline-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.inline-title {
    padding-top: 10px;
    vertical-align: middle;
    display: inline-block;
}

.inline-button {
    display: inline-block;
}