.center {
    margin: auto;
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.plan-square {
    height: inherit;
    width: inherit;
}

.plan-name {
    width: 120px;
    text-align: center;
}

.inline-container {
    display: table;
}

.inline-component {
    display: table-cell;
}

.title-center {
    text-align: center;
}

.plan-citizen-title {
    width: 1%;
}

.plan-diamond-title {
    text-align: left;
    padding-left: 10%;
}

.price {
    text-align: center;
    font-size: 40px;
    color: grey;
}

.darker-span {
    filter: brightness(50%);
    z-index: 9999;
}

.note-below {
    text-align: center;
    color: darkgrey;
    font-style: italic
}

@media (max-width: 768px) {
    .plan-diamond-title {
        padding-left: 0%;
    }
}