.border {
    margin: 10px;
}

.toast-card {
    background: #48e4a37a;
    border-radius: 5px;
    color: rgb(71, 71, 71);
    height: 2px;
    opacity: .88;
    top: -15px;
    text-align: center;
}

.toast-card-container {
    z-index: 999 !important;
}

.toast-bell-icon {
    color: #737373 !important;
}