.border {
    margin: 10px;
}

.hidden {
    display: none;
}

.toast-card {
    background: #464646;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    top: -15px;
    padding: 12px;
}

.toast-card-container {
    z-index: 999 !important;
}

.toast-bell-icon {
    color: #fff !important;
}

.toast-title {
    font-weight: bold;
}

.toast-detail {
    margin-top: 2px;
    padding-left: 25px;
}