.listing {
    position: absolute;
    left: 0;
    top: 0;
    width: 70%;
    height: 100%;
}

.listing-inner {
    padding-top: 60px;
    padding-right: 20px;
    float: right;
    width: 82%;

}

.infobar {
    position: fixed;
    right: 0;
    top: 0;
    width: 30%;
    height: 100%;
}

.infobar-inner {
    padding-top: 120px;
    width: 58%;
    padding-left: 20px;
}

.bg {
    padding-top: 50px;
    position:fixed !important;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color: rgb(243, 243, 243);
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;            /* Footer height */
    background-color: #697c80;
    color: white;
    text-align: center;
    margin: 0 auto;
    vertical-align: middle;
}

.scroll-to-top {
    position: fixed;
    left: 5%;
    bottom: 10%;
}