.listing-outer {
    position: relative;
    float:left;
    width: 63%;
    height: 100%;
    padding-left: 18%;
    overflow: hidden;
}

.listing-inner {
    position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	overflow-x: hidden;
	overflow-y: scroll;
}

/* for Chrome */
.listing-inner::-webkit-scrollbar {
    display: none;
}

.listing-inner-content {
    margin-left: 25%;
    /* margin-right: 100px; */
}

.profile {
    float: right;
    width: 34%;
    padding-top: 100px;
    padding-left: 1%;
    padding-right: 18%;
}

.content-part {
    padding-top: 50px;
    position:fixed !important;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color: rgb(243, 243, 243);
}

.info-segment {
    position: fixed; 
    top: 0; 
    left: 0; 
        
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
}